<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>welcome to tradecenter</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
    <
    <script src="{% static 'js/myphone.js' %}"></script>
    <link href="../../../../static/css/myphone.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--{% load bootstrap3 %}-->
    <!--{% bootstrap_css %}-->
    <!--{% bootstrap_javascript %}-->
    {% load kmgformat %}

    <!--<script>-->
    <!--$.ajaxSetup({-->
    <!--data: {csrfmiddlewaretoken: '{{ csrf_token }}'},-->
    <!--});-->
    <!--</script>-->

</head>
<body role='document'>
<div style="position: fixed;margin-top: -5px; vertical-align: middle; width: 100%;background-color:#222;">
    <!--<a class="navbar-brand" href="/event_manage/">TRADERLIFE</a>-->
    <a style="margin: 5px; vertical-align: middle;" href="/myphone/homepage">
        <img style="margin: 5px" src="/static/images/myphone/backward_bt.png"></a>
    <div style="vertical-align: middle;margin: 5px;padding-top: 5px; display: inline-block; font-size: 20px; color: #ddd; ">信息</div>
</div>

<div class="alert alert-warning alert-dismissible navbar-fixed-top" role="alert"
     style="margin-top: 51px;display: none;" id="warnMessage">
    <button type="button" class="close" aria-label="Close"><span
            aria-hidden="true" id="warnMessage_close">&times;</span></button>
    <p id="message_content"></p>
</div>


<div class="message_menu" style="margin-top: 55px">

    {% if messagelist %}
    {% for message in messagelist %}
    <div style="width: 100%;">
        <div style="width: 60px;height: 60px;float: left;margin-top: 4px ">
            <a class="portrait" href="{{message.contact_url}}"><img src="{{message.head_img}}" width="60px" height="60px" ></a>
        </div>

        <span style="">
            <a class="message_item" href="/myphone/message_">
                <div style="height:28px"><span class="message_from">{{message.from}}</span><span class="message_date">{{message.date}}</span></div>
                <div class="message_title">{{message.content}}</div>
            </a>
        </span>
    </div>

    {% endfor %}
    {% elif not messagelist %}
    <div class="no_data"><h1>没有数据</h1></div>
    {% endif %}


</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" style="height: 70px">
    <div class="container">


    </div>
</nav>
</div>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>