<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, world</title>
</head>
<body>
<h1>HUB</h1>
<blockquote>
    <!--测试环境的地址-->
    <h2>测试环境</h2>
    <table>
        <tr>
            <td><a href="http://yf.vviton.com">唯通网首页http://yf.vviton.com</a></td>
        </tr>
        <tr>
            <td><a href="http://yfalogin.wdcloud.cc/admin-login/app/jsp/main/index.html">
                唯通网后台http://yfalogin.wdcloud.cc/admin-login/app/jsp/main/index.html</a>
            </td>
        </tr>
        <tr>
            <td><a href="http://192.168.5.171:8080/login.jsp">后台类目http://192.168.5.171:8080/login.jsp</a></td>
        </tr>
    </table>
    <!--生产环境的地址-->
    <h2>生产环境</h2>
    <table>
        <tr>
            <td><a href="http://tc.wdcloud.cc">唯通网首页http://tc.wdcloud.cc</a></td>
        </tr>
        <tr>
            <td><a href="https://alogin.wdcloud.cc/admin-login/app/jsp/main/login.html">
                唯通网后台https://alogin.wdcloud.cc/admin-login/app/jsp/main/login.html</a>
            </td>
        </tr>
    </table>
</blockquote>

</body>
</html>