
body, html {
    background: url(/static/images/trader_bg2.png);
    background-size: 160px 160px;
    height: 100%;
    margin: 0;
}

.operation-board {
    background: #dddddd;
}

/* entire container, keeps perspective */
.flip-container {
    /*perspective: 900;*/
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 90px;
    height: 90px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.pricetag {
    position: absolute;
    width: 90px;
    height: 90px;

}

.pricetag.price {
    position: absolute;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    color: #C0C0C0;
    bottom: 0%;
}

.add2order_btn {
    margin-top: 4px;
}

.goodname {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

/*    the off can    */

#canvas {
    width: 100%;
    height: 100%;
    padding: 5.5% 0;
    position: relative;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0px);

    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
}

#nav {
    width: 300px;
    height: 100%;
    background: #222;
    position: absolute;
    right: 0px;
    top: 0;

    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;

    /* By default, rotate the menu 90deg inwards */
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

#container.display-nav #canvas {
    /*-webkit-transform:translateX(-300px);*/
    /*-moz-transform:translateX(-300px);*/
    /*-ms-transform:translateX(-300px);*/
    /*-o-transform:translateX(-300px);*/
    /*transform:translateX(-300px);*/
    transform: translateX(-300px);
}

/* transition the menu with perspective on "show-nav" */
#container.display-nav #nav {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;

    -webkit-transform: perspective(600px) rotateY(0deg);
    -moz-transform: perspective(600px) rotateY(0deg);
    -ms-transform: perspective(600px) rotateY(0deg);
    -o-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}

/*  toggle used for jquery  */
#toggle {
    list-style: none;
    margin-top: 40px;
}

#toggle div:hover {
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #fff;
}

#toggle div.active {
    background: #222;
}

#toggle div {
    cursor: pointer;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

span.menu-icons {
    font-size: 20px;
    height: 20px;
    width: 22px;
    float: left;
    margin: 11px 0px 10px 37px;
    color: #fff;
}

span.the-btn {
    float: right;
    font-size: 20px;
    height: 30px;
    width: 43px;
    margin-top: 10px;
    margin-right: 8px;
    padding: 0;
    color: #fff;
}

#toggle ul {
    list-style: disc;
    display: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

#toggle li a {
    line-height: 41px;
    color: #fff;
    list-style: circle;
    width: 240px;
    padding: 0;
    margin: 0 0 0 50px;
}

#toggle a {
    margin: 0 0 0 47px;
    padding: 0;
    font-family: 'Lato';
    color: #fff;
    line-height: 41px;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
}

#toggle ul li {
    margin-left: 109px;
}

#toggle ul li a:hover {
    background: #1f9d55;
}

#toggle ul li a {
    margin-left: 0;
}

#bars {
    font-size: 34px;
    margin-left: 49px;
    color: #38935f;
}

#bars:hover {
    color: #48b978
}

#title {
    margin: 0;
    padding: 1em;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 2em;
    font-family: 'Raleway', Arial;
}

.background-Cover .show-phone {
    -webkit-transform: translate3d(-600px, 0, 0);
    transform: translate3d(-600px, 0, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-phone {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.phone {
    margin: 0 auto;
    position: relative;
    top: 0px;
    background: #111;
    border-radius: 45px;
    box-shadow: 0px 0px 0px 2px #aaa;
    width: 320px;
    height: 548px;
    padding: 50px 25px;
    padding-bottom: 100px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.phone:before {
    content: '';
    width: 60px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    background: #333;
    top: 30px;
}

.phone .statusbar {
    position: absolute;
    width: 320px;
    height: 20px;
    background: url('/static/images/myphone/statusbar.png');
    left: 50%;
    margin-left: -160px;
    top: 70px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

.phone:after {
    content: '';
    position: absolute;
    width: 55px;
    height: 55px;
    left: 50%;
    margin-left: -30px;
    bottom: 16px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 5px solid #333;
}

.phone iframe {
    height: 100%;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.blackboard {
    position: fixed;
    right: -600px;
    top: 0px;
    width: 600px;
    height: 100%;
    background-color: #222;
}

.notice {
    content: '';
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 100%;
    float: right;
    text-align: center;
    padding-top: 5px;
    color: #ddd;
    position: relative;
    margin-bottom: -10px;
}


