/*底部导航栏的样式*/
#dock {
    height: 100px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    background-color: #eee;
}

#dock ul {
    -webkit-padding-start: 30px;
}

#dock li {
    float: left;
    text-decoration: none;
    display: inline;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-top: 10px;

}

/*我的手机表格间距*/
#myphone_homepage table {
    margin-top: 15px;
}

#myphone_homepage table tr {
    padding: 14px;
}

#myphone_homepage table td {
    padding: 14px;
}

/*信息列表的样式*/
.message_menu {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 70px;
}

.message_item {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    list-style: none;
    display: block;
}

.message_item:hover {
    background-color: #eee;
}

a.message_item, button.message_item {
    color: #555;
    text-decoration: none;
}

a.message_item:hover {
    color: #555;
    text-decoration: none;
}

.message_from {
    font-weight: bold;
    margin: 4px;
    overflow: hidden;
    max-height: 100px;
    display: inline-block;
    float: left;
}

a.portrait {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.message_date {
    float: right;
    margin: 4px;
    padding-right: 12px;
    display: inline-block;
}

.message_title {
    margin: 4px;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}

/*新闻*/
.news_date {
    float: right;
    margin: 4px;
    margin-right: 16px;
}

.news_title {
    margin: 4px;
    text-overflow: ellipsis;
    width: 290px;
    overflow: hidden;
    white-space: nowrap;
}

.red-dot {
    content: '';
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 100%;
    float: right;
    position: absolute;
    margin-left: 40px;

}

.no_data h1 {
    color: #ddd;
    margin: 100px 0px;
    text-align: center;
    margin-right: 15px;
}