#dock {
    height: 100px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    background-color: #eee;
}

#dock ul {
    -webkit-padding-start: 30px;
}

#dock li {
    float: left;
    text-decoration: none;
    display: inline;
    width: 60px;
    height:60px;
    margin-right: 10px;
    margin-top: 10px;

}

#myphone_homepage table{


}
#myphone_homepage table tr{
    padding: 14px;

}

#myphone_homepage table td{
    padding: 14px;

}


